{
  "openapi": "3.0.1",
  "info": {
    "title": "csQa-questions",
    "description": "Import from \"csQAzrirpiggjdc4w-questions\" Function App",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://csqa.azure-api.net"
    }
  ],
  "paths": {
    "/questions": {
      "post": {
        "summary": "CreateQuestion",
        "operationId": "post-createquestion",
        "responses": {
          "200": {
            "description": null
          }
        }
      },
      "get": {
        "summary": "GetQuestions",
        "operationId": "get-getquestions",
        "responses": {
          "200": {
            "description": null
          }
        }
      }
    },
    "/questions/{questionId}": {
      "get": {
        "summary": "GetQuestionById",
        "operationId": "get-getquestionbyid",
        "parameters": [
          {
            "name": "questionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": null
          }
        }
      },
      "put": {
        "summary": "UpdateQuestion",
        "operationId": "put-updatequestion",
        "parameters": [
          {
            "name": "questionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": null
          }
        }
      },
      "delete": {
        "summary": "DeleteQuestion",
        "operationId": "delete-deletequestion",
        "parameters": [
          {
            "name": "questionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": null
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "Ocp-Apim-Subscription-Key",
        "in": "header"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "subscription-key",
        "in": "query"
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ]
}
